@import "./variable";

@mixin text-centered {
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin text-formated {
    color: $text-color;

    font: {
        weight: bold;
        size: 25px;
    }
}